<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/default/decorator.xhtml">

    <ui:define name="title">
        <h:outputText value="#{msgs['manageIncident.title.create']}" rendered="#{(! manageIncidentController.readOnly) and (manageIncidentController.selectedEntity.id == null)}" />
        <h:outputText value="#{msgs['manageIncident.title.update']}" rendered="#{(! manageIncidentController.readOnly) and (manageIncidentController.selectedEntity.id != null)}" />
        <h:outputText value="#{msgs['manageIncident.title.retrieve']}" rendered="#{manageIncidentController.readOnly}" />
    </ui:define>

    <ui:define name="body">
        <h1>
            <h:outputText value="#{msgs['manageIncident.title.create']}" rendered="#{(! manageIncidentController.readOnly) and (manageIncidentController.selectedEntity.id == null)}" />
            <h:outputText value="#{msgs['manageIncident.title.update']}" rendered="#{(! manageIncidentController.readOnly) and (manageIncidentController.selectedEntity.id != null)}" />
            <h:outputText value="#{msgs['manageIncident.title.retrieve']}" rendered="#{manageIncidentController.readOnly}" />
        </h1>

        <div class="crud">
            <ui:decorate template="/resources/templates/default/form.xhtml">
                <h:form id="form">
                    <p:hotkey bind="#{msgs['crud.hotkey.focusFirstField']}" handler="findObjectById('form:state').focus();" />

                    <h:panelGroup id="incidentStateField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:incidentState" />
                            <ui:param name="tooltip" value="#{msgs['manageIncident.form.state.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageIncident.form.state']}" /></ui:define>
                            <p:selectOneMenu 
                                id="incidentState" 
                                value="#{manageIncidentController.selectedEntity.incidentState}" 
                                required="true" 
                                disabled="#{manageIncidentController.readOnly}" 
                                converter="incidentStateConverter"
                                styleClass="selectOne"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <f:selectItems
                                    value="#{utilController.incidentStates}" />
                                <p:ajax event="blur" update="incidentStateField" />
                            </p:selectOneMenu>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="priorityLevelField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:priorityLevel" />
                            <ui:param name="tooltip" value="#{msgs['manageIncident.form.priorityLevel.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageIncident.form.priorityLevel']}" /></ui:define>
                            <p:selectOneMenu 
                                id="priorityLevel" 
                                value="#{manageIncidentController.selectedEntity.priorityLevel}" 
                                required="true" 
                                styleClass="selectOne"
                                disabled="#{manageIncidentController.readOnly}" 
                                converter="priorityLevelConverter"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <f:selectItems
                                    value="#{utilController.priorityLevels}" />
                                <p:ajax event="blur" update="priorityLevelField" />
                            </p:selectOneMenu>
                        </ui:decorate>
                    </h:panelGroup>

                    <ui:decorate template="/resources/templates/default/formfield.xhtml">
                        <ui:param name="hospital" value="form:hospital" />
                        <ui:param name="tooltip" value="#{msgs['manageIncident.form.hospital.tooltip']}" />
                        <ui:define name="label"><h:outputText value="#{msgs['manageIncident.form.hospital']}" /></ui:define>
                        <p:selectOneMenu 
                            id="hospital" 
                            value="#{manageIncidentController.selectedEntity.hospital}"
                            required="true" 
                            styleClass="selectOne"
                            disabled="#{manageIncidentController.readOnly}"
                            converter="#{utilController.hospitalController}"
                            requiredMessage="#{msgs['crud.required.field']}">
                            <f:selectItems
                                value="#{utilController.hospitals}" />
                        </p:selectOneMenu>
                    </ui:decorate>
                    <ui:decorate template="/resources/templates/default/formbutton.xhtml">
                        <h:panelGroup rendered="#{! manageIncidentController.readOnly}">
                            <p:commandButton 
                                action="#{manageIncidentController.list}" 
                                value="#{msgs['crud.button.cancel']}" 
                                immediate="true" 
                                icon="ui-icon-cancel1"
                                styleClass="btn-form btn" />
                            <p:commandButton 
                                action="#{manageIncidentController.save}" 
                                value="#{msgs['crud.button.save']}" 
                                update=":form :globalMessages" 
                                icon="ui-icon-save1"
                                styleClass="btn-form btn" />
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageIncidentController.list}" immediate="true" />
                            <p:hotkey bind="#{msgs['crud.hotkey.save']}" action="#{manageIncidentController.save}" update=":form :globalMessages" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{manageStationController.readOnly}">
                            <p:commandButton 
                                action="#{manageIncidentController.list}" 
                                value="#{msgs['crud.button.back']}" 
                                immediate="true" 
                                icon="ui-icon-save1"
                                styleClass="btn-form btn" />
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageIncidentController.list}" immediate="true" />
                        </h:panelGroup>
                    </ui:decorate>
                </h:form>
            </ui:decorate>
        </div>
    </ui:define>

    <ui:define name="help">
        <h4><h:outputText value="#{msgs['text.hotkeys']}" />:</h4>
        <ul>
            <li><b><h:outputText value="#{msgs['crud.hotkey.focusFirstField']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.focusFirstField']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.backToList']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.backToList']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.save']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.save']}" />.</li>
        </ul>
    </ui:define>
</ui:composition>