<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="/resources/templates/default/decorator.xhtml">

    <ui:define name="title">
        <h:outputText value="#{msgs['manageStation.title.create']}" rendered="#{(! manageStationController.readOnly) and (manageStationController.selectedEntity.id == null)}" />
        <h:outputText value="#{msgs['manageStation.title.update']}" rendered="#{(! manageStationController.readOnly) and (manageStationController.selectedEntity.id != null)}" />
        <h:outputText value="#{msgs['manageStation.title.retrieve']}" rendered="#{manageStationController.readOnly}" />
    </ui:define>

    <ui:define name="body">
        <h1>
            <h:outputText value="#{msgs['manageStation.title.create']}" rendered="#{(! manageStationController.readOnly) and (manageStationController.selectedEntity.id == null)}" />
            <h:outputText value="#{msgs['manageStation.title.update']}" rendered="#{(! manageStationController.readOnly) and (manageStationController.selectedEntity.id != null)}" />
            <h:outputText value="#{msgs['manageStation.title.retrieve']}" rendered="#{manageStationController.readOnly}" />
        </h1>

        <div class="crud">
            <ui:decorate template="/resources/templates/default/form.xhtml">
                <h:form id="form">
                    <p:hotkey bind="#{msgs['crud.hotkey.focusFirstField']}" handler="findObjectById('form:name').focus();" />

                    <h:panelGroup id="entityStateField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:entityState" />
                            <ui:param name="tooltip" value="#{msgs['crud.entityState.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['crud.entityState']}" /></ui:define>
                            <p:selectBooleanCheckbox  
                                id="entityState" 
                                required="true" 
                                disabled="#{manageStationController.readOnly}"
                                requiredMessage="#{msgs['crud.required.field']}"
                                value="#{manageStationController.selectedEntity.active}" />
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="nameField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:name" />
                            <ui:param name="tooltip" value="#{msgs['manageStation.form.name.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageStation.form.name']}" /></ui:define>
                            <b:inputText 
                                id="name" 
                                value="#{manageStationController.selectedEntity.name}" 
                                size="50" 
                                required="true" 
                                disabled="#{manageStationController.readOnly}"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="home" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="streetField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:street" />
                            <ui:param name="tooltip" value="#{msgs['manageAddress.form.street.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAddress.form.street']}" /></ui:define>
                            <b:inputText 
                                id="street" 
                                value="#{manageStationController.selectedEntity.address.street}" 
                                size="50" 
                                required="true" 
                                disabled="#{manageStationController.readOnly}"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="road" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="zipCodeField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:zipCode" />
                            <ui:param name="tooltip" value="#{msgs['manageAddress.form.zipCode.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAddress.form.zipCode']}" /></ui:define>
                            <p:inputMask 
                                mask="#{msgs['format.zipCode.primefaces']}"
                                id="zipCode"
                                value="#{manageStationController.selectedEntity.address.zipCode}" 
                                required="true" 
                                requiredMessage="#{msgs['crud.required.field']}"
                                maxlength="8"
                                converter="zipCodeConverter">
                                <p:ajax event="blur" update="zipCodeField" />
                            </p:inputMask>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="neighborhoodField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:neighborhood" />
                            <ui:param name="tooltip" value="#{msgs['manageAddress.form.neighborhood.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAddress.form.neighborhood']}" /></ui:define>
                            <b:inputText 
                                id="neighborhood" 
                                value="#{manageStationController.selectedEntity.address.neighborhood}" 
                                size="50" 
                                required="true" 
                                disabled="#{manageStationController.readOnly}"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="map-marker" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="cityField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:city" />
                            <ui:param name="tooltip" value="#{msgs['manageAddress.form.city.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAddress.form.city']}" /></ui:define>
                            <b:inputText 
                                id="city" 
                                value="#{manageStationController.selectedEntity.address.city}" 
                                size="50" 
                                required="true" 
                                disabled="#{manageStationController.readOnly}"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <p:ajax event="blur" update="cityField" />
                                <f:facet name="prepend">
                                    <b:iconAwesome name="location-arrow" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <ui:decorate template="/resources/templates/default/formbutton.xhtml">
                        <h:panelGroup rendered="#{! manageStationController.readOnly}">
                            <p:commandButton 
                                action="#{manageStationController.list}" 
                                value="#{msgs['crud.button.cancel']}" 
                                immediate="true" 
                                icon="ui-icon-cancel1"
                                styleClass="btn-form btn" />
                            <p:commandButton 
                                action="#{manageStationController.save}" 
                                value="#{msgs['crud.button.save']}" 
                                update=":form :globalMessages" 
                                icon="ui-icon-save1"
                                styleClass="btn-form btn" />
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageStationController.list}" immediate="true" />
                            <p:hotkey bind="#{msgs['crud.hotkey.save']}" action="#{manageStationController.save}" update=":form :globalMessages" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{manageStationController.readOnly}">
                            <p:commandButton 
                                action="#{manageStationController.list}" 
                                value="#{msgs['crud.button.back']}" 
                                immediate="true" 
                                icon="ui-icon-save1"
                                styleClass="btn-form btn" />
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageStationController.list}" immediate="true" />
                        </h:panelGroup>
                    </ui:decorate>
                </h:form>
            </ui:decorate>
        </div>
    </ui:define>

    <ui:define name="help">
        <h4><h:outputText value="#{msgs['text.hotkeys']}" />:</h4>
        <ul>
            <li><b><h:outputText value="#{msgs['crud.hotkey.focusFirstField']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.focusFirstField']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.backToList']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.backToList']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.save']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.save']}" />.</li>
        </ul>
    </ui:define>
</ui:composition>