<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/default/decorator.xhtml">

    <ui:define name="title">
        <h:outputText value="#{msgs['manageDispatch.title.create']}" rendered="#{(! manageDispatchController.readOnly) and (manageDispatchController.selectedEntity.id == null)}" />
        <h:outputText value="#{msgs['manageDispatch.title.update']}" rendered="#{(! manageDispatchController.readOnly) and (manageDispatchController.selectedEntity.id != null)}" />
        <h:outputText value="#{msgs['manageDispatch.title.retrieve']}" rendered="#{manageDispatchController.readOnly}" />
    </ui:define>

    <ui:define name="body">
        <h1>
            <h:outputText value="#{msgs['manageDispatch.title.create']}" rendered="#{(! manageDispatchController.readOnly) and (manageDispatchController.selectedEntity.id == null)}" />
            <h:outputText value="#{msgs['manageDispatch.title.update']}" rendered="#{(! manageDispatchController.readOnly) and (manageDispatchController.selectedEntity.id != null)}" />
            <h:outputText value="#{msgs['manageDispatch.title.retrieve']}" rendered="#{manageDispatchController.readOnly}" />
        </h1>

        <div class="crud">
            <ui:decorate template="/resources/templates/default/form.xhtml">
                <h:form id="form">
                    <p:hotkey bind="#{msgs['crud.hotkey.focusFirstField']}" handler="findObjectById('form:dateTime').focus();" />

                    <h:panelGroup id="listing" styleClass="listing">
                        <p:dataTable
                            widgetVar="listingTable"
                            value="#{manageDispatchController.ambulanceDistanceToIncident}" 
                            var="pair" 
                            rows="#{manageDispatchController.maxDataTableRowsPerPage}" 
                            rowsPerPageTemplate="#{manageDispatchController.halfMaxDataTableRowsPerPage},#{manageDispatchController.maxDataTableRowsPerPage},#{manageDispatchController.doubleMaxDataTableRowsPerPage}"
                            lazy="true" 
                            rowKey="#{pair.value1}"
                            paginator="true" 
                            selection="#{manageDispatchController.selectedAmbulancesToBeDispatched}" 
                            selectionMode="multiple" 
                            paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
                            paginatorPosition="bottom" 
                            emptyMessage="#{manageDispatchController.filtering ? msgs['manageDispatch.text.noEntitiesFiltered'] : msgs['manageDispatch.text.noEntities']}">

                            <p:column headerText="#{msgs['manageDisptach.form.ambulancePlate']}">
                                <h:outputText value="#{pair.value1}" />
                            </p:column>
                            <p:column headerText="#{msgs['manageDisptach.form.distance']}">
                                <h:outputText value="#{pair.value2}" />
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                    <ui:decorate template="/resources/templates/default/formbutton.xhtml">
                        <p:commandButton 
                            action="#{manageDispatchController.dispatch}" 
                            value="#{msgs['manageDispatch.title.dispatch']}"
                            icon="ui-icon-save1"
                            update=":form :globalMessages"
                            styleClass="btn-form btn"
                            style="margin-top: 15px; "/>
                    </ui:decorate>
                </h:form>
            </ui:decorate>
        </div>
    </ui:define>
</ui:composition>