<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="/resources/templates/default/decorator.xhtml">

    <ui:define name="title">
        <h:outputText value="#{msgs['manageAmbulance.title.create']}" rendered="#{(! manageAmbulanceController.readOnly) and (manageAmbulanceController.selectedEntity.id == null)}" />
        <h:outputText value="#{msgs['manageAmbulance.title.update']}" rendered="#{(! manageAmbulanceController.readOnly) and (manageAmbulanceController.selectedEntity.id != null)}" />
        <h:outputText value="#{msgs['manageAmbulance.title.retrieve']}" rendered="#{manageAmbulanceController.readOnly}" />
    </ui:define>

    <ui:define name="body">
        <h1>
            <h:outputText value="#{msgs['manageAmbulance.title.create']}" rendered="#{(! manageAmbulanceController.readOnly) and (manageAmbulanceController.selectedEntity.id == null)}" />
            <h:outputText value="#{msgs['manageAmbulance.title.update']}" rendered="#{(! manageAmbulanceController.readOnly) and (manageAmbulanceController.selectedEntity.id != null)}" />
            <h:outputText value="#{msgs['manageAmbulance.title.retrieve']}" rendered="#{manageAmbulanceController.readOnly}" />
        </h1>

        <div class="crud">
            <ui:decorate template="/resources/templates/default/form.xhtml">
                <h:form id="form">
                    <p:hotkey bind="#{msgs['crud.hotkey.focusFirstField']}" handler="findObjectById('form:plate').focus();" />

                    <h:panelGroup id="plateField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:plate" />
                            <ui:param name="tooltip" value="#{msgs['manageAmbulance.form.plate.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAmbulance.form.plate']}" /></ui:define>
                            <b:inputText id="plate" 
                                         value="#{manageAmbulanceController.selectedEntity.plate}" 
                                         size="50" 
                                         required="true" 
                                         disabled="#{manageAmbulanceController.readOnly}"
                                         requiredMessage="#{msgs['crud.required.field']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="barcode" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="stationField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:station" />
                            <ui:param name="tooltip" value="#{msgs['manageAmbulance.form.station.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAmbulance.form.station']}" /></ui:define>
                            <p:selectOneMenu 
                                id="station" 
                                value="#{manageAmbulanceController.selectedEntity.station}" 
                                required="true" 
                                styleClass="selectOne"
                                disabled="#{manageAmbulanceController.readOnly}" 
                                converter="#{dataController.stationConverter}"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <f:selectItems
                                    value="#{dataController.activeStations}" />
                                <p:ajax event="blur" update="stationField" />
                            </p:selectOneMenu>
                        </ui:decorate>
                    </h:panelGroup>

                    <ui:decorate template="/resources/templates/default/formbutton.xhtml">
                        <h:panelGroup rendered="#{! manageAmbulanceController.readOnly}">
                            <p:commandButton 
                                action="#{manageAmbulanceController.list}" 
                                value="#{msgs['crud.button.cancel']}" 
                                immediate="true" 
                                icon="ui-icon-cancel1"
                                styleClass="btn-form btn"/>
                            <p:commandButton 
                                action="#{manageAmbulanceController.save}" 
                                value="#{msgs['crud.button.save']}" 
                                icon="ui-icon-save1"
                                update=":form :globalMessages" 
                                styleClass="btn-form btn"/>
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageAmbulanceController.list}" immediate="true" />
                            <p:hotkey bind="#{msgs['crud.hotkey.save']}" action="#{manageAmbulanceController.save}" update=":form :globalMessages" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{manageAmbulanceController.readOnly}">
                            <p:commandButton 
                                action="#{manageAmbulanceController.list}" 
                                value="#{msgs['crud.button.back']}" 
                                immediate="true" 
                                icon="ui-icon-save1"
                                styleClass="btn-form btn" />
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageAmbulanceController.list}" immediate="true" />
                        </h:panelGroup>
                    </ui:decorate>
                </h:form>
            </ui:decorate>
        </div>
    </ui:define>

    <ui:define name="help">
        <h4><h:outputText value="#{msgs['text.hotkeys']}" />:</h4>
        <ul>
            <li><b><h:outputText value="#{msgs['crud.hotkey.focusFirstField']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.focusFirstField']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.backToList']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.backToList']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.save']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.save']}" />.</li>
        </ul>
    </ui:define>
</ui:composition>