<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="/resources/templates/default/decorator.xhtml">

    <ui:define name="title">
        MDT
    </ui:define>

    <ui:define name="body">
        <h1>
            Simulador MDT
        </h1>

        <div class="crud">
            <ui:decorate template="/resources/templates/default/form.xhtml">
                <h:form id="form">
                    <ui:define name="label"><h:outputText value="#{msgs['manageAmbulance.form.station']}" /></ui:define>
                    <h:selectOneMenu 
                        id="ambulance" 
                        value="#{mdtController.ambulance}" 
                        required="true" 
                        styleClass="selectOne"
                        converter="#{mdtController.ambulanceConverter}"
                        requiredMessage="#{msgs['crud.required.field']}">
                        <f:selectItems
                            value="#{mdtController.ambulances}"/>
                    </h:selectOneMenu>
                    <br/>
                    <h:commandButton value="Enviar Dados" action="result" />
                    <br/>
                    <h:commandButton 
                        action="#{mdtController.ambulanceLocalization}" 
                        value="#{msgs['mdt.simulator.updateGeo']}" 
                        styleClass="btn-form btn"/>
                    <br/>
                    <h:commandButton 
                        action="#{mdtController.confirmationIncidenteAttendance}" 
                        value="#{msgs['mdt.simulator.confirm']}" 
                        immediate="true" 
                        styleClass="btn-form btn"/>
                    <br/>
                    <h:commandButton 
                        action="#{mdtController.enRouteToHospital()}" 
                        value="#{msgs['mdt.simulator.informEnRouteToHospital']}" 
                        immediate="true" 
                        styleClass="btn-form btn"/>
                    <br/>
                    <h:commandButton 
                        action="#{mdtController.informAtHospital}" 
                        value="#{msgs['mdt.simulator.inform']}" 
                        styleClass="btn-form btn"/>
                    <br/>
                    <h:commandButton 
                        action="#{mdtController.informEnRouteToStation}" 
                        value="#{msgs['mdt.simulator.informEnRouteToStation']}" 
                        styleClass="btn-form btn"/>
                    <br/>
                    <h:commandButton 
                        action="#{mdtController.informOnHold}" 
                        value="#{msgs['mdt.simulator.informOnHold']}" 
                        styleClass="btn-form btn"/>
                    <h:commandButton 
                        action="#{mdtController.informProblem}" 
                        value="#{msgs['mdt.simulator.informProblem']}" 
                        styleClass="btn-form btn"/>
                    <br/>
                </h:form>
            </ui:decorate>
        </div>
    </ui:define>
</ui:composition>