<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/default/decorator.xhtml">

    <ui:define name="title"><h:outputText value="#{msgs['title.login']}" /></ui:define>

    <ui:define name="body">
        <h1><h:outputText value="#{msgs['title.login']}" /></h1>

        <h:panelGroup rendered="#{manageSessionController.beforeLogin()}">
            <p><h:outputText value="#{msgs['text.login.instructions']}" /></p>

            <!-- The login form. -->
            <ui:decorate template="/resources/templates/default/form.xhtml">
                <h:form id="form">
                    <p:focus />

                    <h:panelGroup id="usernameField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:username" />
                            <ui:define name="label"><h:outputText value="#{msgs['field.username']}" /></ui:define>
                            <p:inputText id="username" value="#{manageSessionController.username}" size="30" required="true">
                                <p:ajax event="blur" update="usernameField" />
                            </p:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="passwordField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:password" />
                            <ui:define name="label"><h:outputText value="#{msgs['field.password']}" /></ui:define>
                            <p:password id="password" value="#{manageSessionController.password}" size="15" required="true" feedback="false" />
                        </ui:decorate>
                    </h:panelGroup>

                    <ui:decorate template="/resources/templates/default/formbutton.xhtml">
                        <p:commandButton action="#{manageSessionController.login}" value="#{msgs['button.login']}" icon="buttonOk" update=":globalMessages form" />
                    </ui:decorate>
                </h:form>
            </ui:decorate>
        </h:panelGroup>

        <h:panelGroup rendered="#{manageSessionController.loggedIn}">
            <p><h:outputFormat value="#{msgs['text.login.successful']}"><f:param value="#{manageSessionController.currentUser.name}" /></h:outputFormat></p>
        </h:panelGroup>
    </ui:define>
</ui:composition>

