
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

.input-group .form-control{
    width: 50% !important;
}

ui-inputfield ui-inputtextarea ui-widget ui-state-default ui-corner-all ui-inputtextarea-resizable{
    width: 50% !important;
}

.text-area{
    width: 52% !important;
}

.ui-selectmanymenu, ui-selectonemenu  {
    width: 52% !important;
    margin-bottom: 10px !important;
}

.ui-selectonemenu .ui-selectonemenu-label{
    width: 500px !important;
}

.selectOne{
    width: 52% !important;
}

.btn-form {
    height: 50px;
    border: 1px solid #ccc;
    margin-right: 20px;
    width: 25%
}

.btn-list{
    height: 50px;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 20%
}

.btn-similar-calls{
    height: 65%;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50%
}

.btn-include-ambulance-settings{
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50%
}

.decorator-text{
    color: #9d9d9d;
}

.nemoUtilsFormField {
    margin-bottom: 20px !important;
}

.label{
    margin-bottom: 5px;
}

.ui-icon-save1{
    background-image: url("/Resgate/javax.faces.resource/images/save.png.faces") !important;
    width: 100%;
}

.ui-icon-cancel1{
    background-image: url("/Resgate/javax.faces.resource/images/cancel.png.faces") !important;
    width: 100%;
}

.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}
.navbar {
    font-family: Helvetica, Arial, sans-serif; 
    color: #000 !important;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    color: #fff !important;
    font-size: 200% !important;
}

.navbar-brand > a > hover {
    color:#000 !important;
}

.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        bottom: 0;
        display: block;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
        position: fixed;
        top: 51px;
        z-index: 1000;
    }
}
.nav-list {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-list > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-list > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #428bca;
    color: #fff;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}