<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="/resources/templates/default/decorator.xhtml">

    <ui:define name="title">
        <h:outputText value="#{msgs['manageEmergencyCall.title.create']}" rendered="#{(! manageEmergencyCallController.readOnly) and (manageEmergencyCallController.selectedEntity.id == null)}" />
        <h:outputText value="#{msgs['manageEmergencyCall.title.update']}" rendered="#{(! manageEmergencyCallController.readOnly) and (manageEmergencyCallController.selectedEntity.id != null)}" />
        <h:outputText value="#{msgs['manageEmergencyCall.title.retrieve']}" rendered="#{manageEmergencyCallController.readOnly}" />
    </ui:define>

    <ui:define name="body">
        <h1>
            <h:outputText value="#{msgs['manageEmergencyCall.title.create']}" rendered="#{(! manageEmergencyCallController.readOnly) and (manageEmergencyCallController.selectedEntity.id == null)}" />
            <h:outputText value="#{msgs['manageEmergencyCall.title.update']}" rendered="#{(! manageEmergencyCallController.readOnly) and (manageEmergencyCallController.selectedEntity.id != null)}" />
            <h:outputText value="#{msgs['manageEmergencyCall.title.retrieve']}" rendered="#{manageEmergencyCallController.readOnly}" />
        </h1>

        <div class="crud">
            <ui:decorate template="/resources/templates/default/form.xhtml">
                <h:form id="form">
                    <p:hotkey bind="#{msgs['crud.hotkey.focusFirstField']}" handler="findObjectById('form:number').focus();" />

                    <h:panelGroup id="numberField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:number" />
                            <ui:param name="tooltip" value="#{msgs['manageEmergencyCall.form.number.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageEmergencyCall.form.number']}" /></ui:define>
                            <b:inputText id="number" 
                                         value="#{manageEmergencyCallController.selectedEntity.number}" 
                                         size="50"
                                         disabled="true">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="phone-square" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="dateTimeField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="dateTimeName" value="form:dateTime" />
                            <ui:param name="tooltip" value="#{msgs['manageEmergencyCall.form.dateTime.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageEmergencyCall.form.dateTime']}" /></ui:define>
                            <b:inputText id="dateTime"
                                         value="#{manageEmergencyCallController.selectedEntity.dateTime}" 
                                         size="50" 
                                         disabled="true">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="calendar" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="descriptionField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:description" />
                            <ui:param name="tooltip" value="#{msgs['manageEmergencyCall.form.description.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageEmergencyCall.form.description']}" /></ui:define>
                            <p:inputTextarea 
                                id="description" 
                                value="#{manageEmergencyCallController.selectedEntity.description}" 
                                required="true"
                                rows="4"
                                disabled="#{manageEmergencyCallController.readOnly}"
                                styleClass="text-area">
                                <p:ajax event="blur" update="numberField" />
                            </p:inputTextarea>
                        </ui:decorate>
                    </h:panelGroup>

                    <table style="width: 100%">
                        <tr >
                            <td style="width: 52%; ">
                                <h:panelGroup id="callerNameField" >
                                    <ui:decorate template="/resources/templates/default/formfield.xhtml">
                                        <ui:param name="fieldName" value="form:callerName" />
                                        <ui:param name="tooltip" value="#{msgs['manageEmergencyCall.form.callerName.tooltip']}" />
                                        <ui:define name="label"><h:outputText value="#{msgs['manageEmergencyCall.form.callerName']}" /></ui:define>
                                        <b:inputText id="callerName"
                                                     value="#{manageEmergencyCallController.selectedEntity.callerName}"
                                                     size="50"
                                                     required="true" 
                                                     disabled="#{manageEmergencyCallController.readOnly}"
                                                     style="width: 100% !important;">
                                            <f:facet name="prepend">
                                                <b:iconAwesome name="users" />
                                            </f:facet>
                                        </b:inputText>
                                    </ui:decorate>
                                </h:panelGroup>
                            </td>
                            <td style="padding-left: 15px; padding-top: 20px;">
                                <p:commandButton process="@this callerNameField" 
                                                 immediate="true" 
                                                 update="similarCallsField btn-confirm" 
                                                 action="#{manageEmergencyCallController.checkForSimilarCalls}"
                                                 value="Buscar por Chamadas Similares"
                                                 styleClass="btn-similar-calls"/>
                            </td>
                        </tr>
                    </table>

                    <table style="width: 100%">
                        <tr >
                            <td style="width: 52%; ">
                                <h:panelGroup id="similarCallsField" styleClass="listing" rendered="#{manageEmergencyCallController.getSimilarCalls() != null}" >
                                    <p:dataTable
                                        widgetVar="listingTable"
                                        value="#{manageEmergencyCallController.similarCalls}" 
                                        var="entity" 
                                        rowsPerPageTemplate="#{manageEmergencyCallController.halfMaxDataTableRowsPerPage},#{manageEmergencyCallController.maxDataTableRowsPerPage},#{manageEmergencyCallController.doubleMaxDataTableRowsPerPage}"
                                        lazy="true" 
                                        rowKey="#{entity.id}"
                                        paginator="true" 
                                        selection="#{manageEmergencyCallController.selectedSimilarEmergencyCall}" 
                                        selectionMode="single" 
                                        paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
                                        paginatorPosition="bottom" 
                                        style="width: 52%"
                                        emptyMessage="#{manageEmergencyCallController.filtering ? msgs['manageEmergencyCall.text.noEntitiesFiltered'] : msgs['manageEmergencyCall.text.noEntities']}">

                                        <p:column headerText="Número">
                                            <h:outputText value="#{emergencyCall.number}" />
                                        </p:column>
                                        <p:column headerText="Descrição">
                                            <h:outputText value="#{emergencyCall.description}" />
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </td>
                            <td style="padding-left: 15px; padding-top: 20px;">
                                <p:commandButton id="btn-confirm" 
                                                process="@this" 
                                                 immediate="true" 
                                                 update="similarCallsField" 
                                                 action="#{manageEmergencyCallController.confirmSimilarEmergencyCalls()}"
                                                 rendered="#{manageEmergencyCallController.getSimilarCalls() != null}"
                                                 value="#{msgs['manageEmergencyCall.form.confirmSimilarCall']}"
                                                 styleClass="btn-similar-calls"/>
                            </td>
                        </tr>
                    </table>

                    <h:panelGroup id="streetField" rendered="#{!manageEmergencyCallController.readOnly}">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:street" />
                            <ui:param name="tooltip" value="#{msgs['manageAddress.form.street.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAddress.form.street']}" /></ui:define>
                            <b:inputText id="street" 
                                         value="#{manageEmergencyCallController.selectedEntity.incident.address.street}" 
                                         size="50" 
                                         required="true" 
                                         requiredMessage="#{msgs['crud.required.field']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="road" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="zipCodeField" rendered="#{!manageEmergencyCallController.readOnly}">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:zipCode" />
                            <ui:param name="tooltip" value="#{msgs['manageAddress.form.zipCode.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAddress.form.zipCode']}" /></ui:define>
                            <p:inputMask 
                                mask="#{msgs['format.zipCode.primefaces']}"
                                id="zipCode"
                                value="#{manageEmergencyCallController.selectedEntity.incident.address.zipCode}" 
                                requiredMessage="#{msgs['crud.required.field']}"
                                maxlength="8"
                                converter="zipCodeConverter">
                                <p:ajax event="blur" update="zipCodeField" />
                            </p:inputMask>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="neighborhoodField" rendered="#{!manageEmergencyCallController.readOnly}">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:neighborhood" />
                            <ui:param name="tooltip" value="#{msgs['manageAddress.form.neighborhood.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAddress.form.neighborhood']}" /></ui:define>
                            <b:inputText id="neighborhood" 
                                         value="#{manageEmergencyCallController.selectedEntity.incident.address.neighborhood}" 
                                         size="50" 
                                         requiredMessage="#{msgs['crud.required.field']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="map-marker" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="cityField" rendered="#{!manageEmergencyCallController.readOnly}">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:city" />
                            <ui:param name="tooltip" value="#{msgs['manageAddress.form.city.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageAddress.form.city']}" /></ui:define>
                            <b:inputText id="city" 
                                         value="#{manageEmergencyCallController.selectedEntity.incident.address.city}" 
                                         size="50" 
                                         required="true" 
                                         requiredMessage="#{msgs['crud.required.field']}">
                                <p:ajax event="blur" update="cityField" />
                                <f:facet name="prepend">
                                    <b:iconAwesome name="location-arrow" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="priorityLevelField">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:priorityLevel" />
                            <ui:param name="tooltip" value="#{msgs['manageEmergencyCall.form.priorityLevel.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageEmergencyCall.form.priorityLevel']}" /></ui:define>
                            <p:selectOneMenu 
                                id="priorityLevel" 
                                value="#{manageEmergencyCallController.selectedEntity.incident.priorityLevel}" 
                                required="true"
                                styleClass="selectOne"
                                disabled="#{manageEmergencyCallController.readOnly}" 
                                converter="priorityLevelConverter"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <f:selectItems
                                    value="#{utilController.priorityLevels}" />
                                <p:ajax event="blur" update="priorityLevelField" />
                            </p:selectOneMenu>
                        </ui:decorate>
                    </h:panelGroup>

                    <ui:decorate template="/resources/templates/default/formfield.xhtml">
                        <ui:param name="hospital" value="form:hospital" />
                        <ui:param name="tooltip" value="#{msgs['manageEmergencyCall.form.hospital.tooltip']}" />
                        <ui:define name="label"><h:outputText value="#{msgs['manageEmergencyCall.form.hospital']}" /></ui:define>
                        <p:selectOneMenu 
                            id="hospital" 
                            value="#{manageEmergencyCallController.selectedEntity.incident.hospital}"
                            required="true" 
                            styleClass="selectOne"
                            disabled="#{manageEmergencyCallController.readOnly}"
                            converter="#{utilController.hospitalController}"
                            requiredMessage="#{msgs['crud.required.field']}">
                            <f:selectItems
                                value="#{utilController.hospitals}" />
                        </p:selectOneMenu>
                    </ui:decorate>

                    <h:panelGroup id="ambulanceField">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 52%">
                                    <ui:decorate template="/resources/templates/default/formfield.xhtml">
                                        <ui:param name="fieldName" value="form:staffFunctions" />
                                        <ui:param name="tooltip" value="#{msgs['manageEmployee.form.staffFuncitons.tooltip']}" />
                                        <ui:define name="label"><h:outputText value="#{msgs['manageEmployee.form.staffFuncitons']}" /></ui:define>
                                        <p:selectManyMenu 
                                            id="staffFunctions" 
                                            value="#{manageEmergencyCallController.ambulanceSettings.staffFunctions}"
                                            required="true" 
                                            disabled="#{manageEmergencyCallController.readOnly}"
                                            converter="staffFunctionConverter"
                                            style="width: 100% !important;"
                                            requiredMessage="#{msgs['crud.required.field']}">
                                            <f:selectItems
                                                value="#{utilController.staffFunctions}" />
                                        </p:selectManyMenu>
                                    </ui:decorate>
                                    <ui:decorate template="/resources/templates/default/formfield.xhtml">
                                        <ui:param name="fieldName" value="form:equipments" />
                                        <ui:param name="tooltip" value="#{msgs['manageEmployee.form.staffFuncitons.tooltip']}" />
                                        <ui:define name="label"><h:outputText value="#{msgs['manageEmployee.form.staffFuncitons']}" /></ui:define>
                                        <p:selectManyMenu 
                                            id="equipments" 
                                            value="#{manageEmergencyCallController.ambulanceSettings.equipmentTypes}"
                                            required="true" 
                                            disabled="#{manageEmergencyCallController.readOnly}"
                                            converter="equipmentTypeConverter"
                                            style="width: 100% !important;"
                                            requiredMessage="#{msgs['crud.required.field']}">
                                            <f:selectItems
                                                value="#{utilController.equipmentTypes}" />
                                        </p:selectManyMenu>
                                    </ui:decorate>
                                </td>
                                <td style="width: 15%; padding-left: 15px">
                                    <p:commandButton 
                                        update="ambulanceField" 
                                        immediate="true" 
                                        onclick="#{manageEmergencyCallController.insertAmbulanceSettings()}" 
                                        process="staffFunctions equipments" 
                                        styleClass="btn-include-ambulance-settings"
                                        value="Incluir"/>
                                </td>
                                <td style="padding-left: 15px">
                                    <h:dataTable styleClass="table table-striped" 
                                                 value="#{manageEmergencyCallController.selectedEntity.incident.ambulanceSettings}" 
                                                 var="ambulanceSettings" >
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Tipo de Equipamento" /></f:facet>
                                            <h:outputText value="#{ambulanceSettings.equipmentTypes}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Função dos Funcionários" /></f:facet>
                                            <h:outputText value="#{ambulanceSettings.staffFunctions}" />
                                        </h:column>
                                    </h:dataTable>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>

                    <ui:decorate template="/resources/templates/default/formbutton.xhtml">
                        <h:panelGroup rendered="#{! manageEmergencyCallController.readOnly}">
                            <p:commandButton 
                                action="#{manageEmergencyCallController.list}" 
                                value="#{msgs['crud.button.cancel']}" 
                                immediate="true" 
                                icon="ui-icon-cancel1"
                                styleClass="btn-form btn"/>
                            <p:commandButton 
                                action="#{manageEmergencyCallController.save}" 
                                value="#{msgs['crud.button.save']}"
                                icon="ui-icon-save1"
                                update=":form :globalMessages"
                                styleClass="btn-form btn" />
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageEmergencyCallController.list}" immediate="true" />
                            <p:hotkey bind="#{msgs['crud.hotkey.save']}" action="#{manageEmergencyCallController.save}" update=":form :globalMessages" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{manageEmergencyCallController.readOnly}">
                            <p:commandButton 
                                action="#{manageEmergencyCallController.list}" 
                                value="#{msgs['crud.button.back']}" 
                                immediate="true" 
                                icon="ui-icon-save1"
                                styleClass="btn-list btn"/>
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageEmergencyCallController.list}" immediate="true" />
                        </h:panelGroup>
                    </ui:decorate>
                </h:form>
            </ui:decorate>
        </div>
    </ui:define>

    <ui:define name="help">
        <h4><h:outputText value="#{msgs['text.hotkeys']}" />:</h4>
        <ul>
            <li><b><h:outputText value="#{msgs['crud.hotkey.focusFirstField']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.focusFirstField']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.backToList']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.backToList']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.save']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.save']}" />.</li>
        </ul>
    </ui:define>
</ui:composition>