<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/default/decorator.xhtml">

    <ui:define name="title">
        <h:outputText value="#{msgs['manageEmployee.title.create']}" rendered="#{(! manageEmployeeController.readOnly) and (manageEmployeeController.selectedEntity.id == null)}" />
        <h:outputText value="#{msgs['manageEmployee.title.update']}" rendered="#{(! manageEmployeeController.readOnly) and (manageEmployeeController.selectedEntity.id != null)}" />
        <h:outputText value="#{msgs['manageEmployee.title.retrieve']}" rendered="#{manageEmployeeController.readOnly}" />
    </ui:define>

    <ui:define name="body">
        <h1>
            <h:outputText value="#{msgs['manageEmployee.title.create']}" rendered="#{(! manageEmployeeController.readOnly) and (manageEmployeeController.selectedEntity.id == null)}" />
            <h:outputText value="#{msgs['manageEmployee.title.update']}" rendered="#{(! manageEmployeeController.readOnly) and (manageEmployeeController.selectedEntity.id != null)}" />
            <h:outputText value="#{msgs['manageEmployee.title.retrieve']}" rendered="#{manageEmployeeController.readOnly}" />
        </h1>

        <div class="crud">
            <ui:decorate template="/resources/templates/default/form.xhtml">
                <h:form id="form">
                    <p:hotkey bind="#{msgs['crud.hotkey.focusFirstField']}" handler="findObjectById('form:name').focus();" />

                    <h:panelGroup id="entityStateField" styleClass="panel">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:entityState" />
                            <ui:param name="tooltip" value="#{msgs['crud.entityState.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['crud.entityState']}" /></ui:define>
                            <p:selectBooleanCheckbox  
                                id="entityState" 
                                disabled="#{manageEmployeeController.readOnly}"
                                value="#{manageEmployeeController.selectedEntity.active}" />
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="nameField" styleClass="panel">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:name" />
                            <ui:param name="tooltip" value="#{msgs['manageEmployee.form.name.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageEmployee.form.name']}" /></ui:define>
                            <b:inputText id="name" 
                                         value="#{manageEmployeeController.selectedEntity.name}" 
                                         size="50" 
                                         required="true" 
                                         disabled="#{manageEmployeeController.readOnly}"
                                         placeholder="John Smith"
                                         requiredMessage="#{msgs['crud.required.field']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="user" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="passwordField" styleClass="panel">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="passwordField" value="form:password" />
                            <ui:param name="tooltip" value="#{msgs['manageEmployee.form.password.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageEmployee.form.password']}" /></ui:define>
                            <b:inputText id="password" 
                                         value="#{manageEmployeeController.selectedEntity.password}" 
                                         size="50" 
                                         type="password"
                                         placeholder="Senha Segura"
                                         required="true" 
                                         disabled="#{manageEmployeeController.readOnly}"
                                         requiredMessage="#{msgs['crud.required.field']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="key" />
                                </f:facet>
                            </b:inputText>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="staffFunctionsField" styleClass="panel">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:staffFunctions" />
                            <ui:param name="tooltip" value="#{msgs['manageEmployee.form.staffFuncitons.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageEmployee.form.staffFuncitons']}" /></ui:define>
                            <p:selectManyMenu 
                                id="staffFunctions" 
                                label="#{msgs['manageEmployee.form.staffFuncitons']}"
                                value="#{manageEmployeeController.selectedEntity.staffFunctions}"
                                required="true" 
                                disabled="#{manageEmployeeController.readOnly}"
                                converter="staffFunctionConverter"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <f:selectItems
                                    value="#{manageEmployeeController.staffFunctions}" />
                            </p:selectManyMenu>
                        </ui:decorate>
                    </h:panelGroup>

                    <h:panelGroup id="stationField" styleClass="panel">
                        <ui:decorate template="/resources/templates/default/formfield.xhtml">
                            <ui:param name="fieldName" value="form:station" />
                            <ui:param name="tooltip" value="#{msgs['manageEmployee.form.station.tooltip']}" />
                            <ui:define name="label"><h:outputText value="#{msgs['manageEmployee.form.station']}" /></ui:define>
                            <p:selectOneMenu 
                                id="station" 
                                value="#{manageEmployeeController.selectedEntity.station}" 
                                required="true" 
                                styleClass="selectOne"
                                disabled="#{manageEmployeeController.readOnly}" 
                                converter="#{dataController.stationConverter}"
                                requiredMessage="#{msgs['crud.required.field']}">
                                <f:selectItems
                                    value="#{dataController.activeStations}" />
                                <p:ajax event="blur" update="stationField" />
                            </p:selectOneMenu>
                        </ui:decorate>
                    </h:panelGroup>

                    <ui:decorate template="/resources/templates/default/formbutton.xhtml">
                        <h:panelGroup rendered="#{! manageEmployeeController.readOnly}">
                            <p:commandButton 
                                action="#{manageEmployeeController.list}" 
                                value="#{msgs['crud.button.cancel']}" 
                                immediate="true" 
                                icon="ui-icon-cancel1"
                                styleClass="btn-form btn"/>
                            <p:commandButton 
                                action="#{manageEmployeeController.save}" 
                                value="#{msgs['crud.button.save']}"
                                icon="ui-icon-save1"
                                update=":form :globalMessages"
                                styleClass="btn-form btn" />
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageEmployeeController.list}" immediate="true" />
                            <p:hotkey bind="#{msgs['crud.hotkey.save']}" action="#{manageEmployeeController.save}" update=":form :globalMessages" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{manageEmployeeController.readOnly}">
                            <p:commandButton 
                                action="#{manageEmployeeController.list}" 
                                value="#{msgs['crud.button.back']}" 
                                immediate="true" 
                                icon="ui-icon-save1"
                                styleClass="btn-form btn" />
                            <p:hotkey bind="#{msgs['crud.hotkey.backToList']}" action="#{manageEmployeeController.list}" immediate="true" />
                        </h:panelGroup>
                    </ui:decorate>
                </h:form>
            </ui:decorate>
        </div>
    </ui:define>

    <ui:define name="help">
        <h4><h:outputText value="#{msgs['text.hotkeys']}" />:</h4>
        <ul>
            <li><b><h:outputText value="#{msgs['crud.hotkey.focusFirstField']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.focusFirstField']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.backToList']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.backToList']}" />;</li>
            <li><b><h:outputText value="#{msgs['crud.hotkey.save']}" /></b>: <h:outputText value="#{msgs['crud.help.hotkeys.save']}" />.</li>
        </ul>
    </ui:define>
</ui:composition>