<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Resgate</title>
        <meta name="author" content="Riccardo Massera"></meta>
    </h:head>
    <h:body style="padding-top: 60px">
        <!--<h:outputScript library="holder" name="holder.js" />-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.5.2/holder.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css' />
        <h:outputStylesheet name="templates/default/stylesheets/style.css" />
        <b:navBar brand="Resgate" brandHref="#" inverse="true" fixed="top" fluid="true">


            <b:navbarLinks pull="right" rendered="#{manageSessionController.loggedIn}">
                <b:navLink value="#{manageSessionController.welcome}" href="#"></b:navLink>
                <b:navLink value="#{msgs['menu.logout']}" href="/index.faces"  />
            </b:navbarLinks>

        </b:navBar>
        <b:container fluid="true">
            <b:row>
                <b:column col-sm="3" col-md="2" styleClass="sidebar">
                    <b:listLinks rendered="#{manageSessionController.loggedIn and (manageSessionController.admin or manageSessionController.attendant)}" >
                        <b:navLink href="/manageEmergencyCall/list.faces" value="#{msgs['menu.manage.emergencyCall']}"/>
                        <b:navLink href="/manageIncident/list.faces" value="#{msgs['menu.manage.incident']}" />
                        <b:navLink href="/manageDispatch/list.faces" value="#{msgs['menu.manage.dispatch']}" />
                        <b:navLink href="/MDTSimulator/mdt.faces" value="#{msgs['mdt.simulator']}" />
                    </b:listLinks>
                    <b:listLinks rendered="#{manageSessionController.loggedIn and manageSessionController.admin}" >
                        <b:navLink href="/manageEmployee/list.faces" value="#{msgs['menu.manage.employee']}"/>
                        <b:navLink href="/manageAmbulance/list.faces" value="#{msgs['menu.manage.ambulance']}" />
                        <b:navLink href="/manageHospital/list.faces" value="#{msgs['menu.manage.hospital']}" />
                        <b:navLink href="/manageEquipment/list.faces" value="#{msgs['menu.manage.equipment']}" />
                        <b:navLink href="/manageStation/list.faces" value="#{msgs['menu.manage.station']}" />
                    </b:listLinks>
                </b:column>
                <b:column col-sm="9" offset-sm="3" col-md="10" offset="2" styleClass="main">
                    <h:form id="globalMessages">
                        <p:growl id="messages" globalOnly="true" showSummary="true" showDetail="true" sticky="true" />
                    </h:form>

                    <!-- Page contents: -->
                    <ui:insert name="body" />
                </b:column>
            </b:row>
        </b:container>                
    </h:body>
</html>
